*{
    margin: 0;
    padding: 0;
}

.container{
    text-align: center;
}

.container p{
    font-size: 60px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #3f65e2;
}